<div class="mx-10 text-center text-blue-500 font-bold">
    <p>Made without ❤️ by <a href="https://github.com/salismazaya" class="text-blue-600 hover:text-blue-700" target="_blank">salismazaya</a> and my friends</p>
</div>