<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<% if (locals.title) { %>
<title><%= title %></title>
<% } %> 
<link rel="stylesheet" type="text/css" href="/static/css/tailwind.min.css">