<nav class="sticky z-50 top-0 h-12 bg-gradient-to-b from-purple-700 to-purple-600 flex items-center px-3 py-1 text-white justify-between">
   <div>
        <a href="/">
            <p class="text-xl md:text-2xl">Whatsapp Auto Update</p>
        </a>
   </div>
</nav>